@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-clip-path {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.playfair {
  font-family: "PLayfair Display", sans-serif;
}

.landing-page {
  background-image: url(../public/assets/images/landing-page-img.jpg);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgb(241 245 249 / 1);
}
